@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body{
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
}

.container{
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f44336;
}

#box-main{
	display: flex;
}

#inner-container{
	display: block;
	height : 23rem;
	width: 23rem;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 1px 1px 8px #555;
}

#box-big{
	height: 61%;
	text-align: center;
	padding: 2% 0;
	font-size : 10rem;
}

#box-small{
	position: relative;
	height: 28%;
	padding: 5% 0 2% 0;
	text-align: center;
}

#input-box{
	outline: none;
	border: none;
	font-size: 1.2rem;
	padding: 0.3rem 0.5rem;
	border-bottom: solid 1px #f44336;
}

.submit-btn{
	margin-left: 10px;
	position: relative;
	height: 2.5rem;
	width: 2.5rem;
	border: none;
	background-color: #000;
	border-radius: 500px;
}

.checkmark{
	display: inline-block;
	left: 50%;
	width: 10px;
	height: 20px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.response{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.wrong{
	color: red;
	display: none;
}
/*
.correct{
	color: green;
	display: none;
}
*/
.error{
	color: #b0ad00;
	display: none;
}
/*
.correct.response-display{
	background-color: green;
}
*/
.wrong.response-display{
	background-color: red;
}

.error.response-display{
	background-color: #ffe000;
}

.blah{
	display: block;
}

.response-display{
	margin-top: 10px;
	height: 1.5rem;
	border-radius: 0 0 2px 2px;
}



#box-side{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: auto;
	height: 23rem;
}

#box-side div:nth-child(1){
	color: green;
}
#box-side div:nth-child(2){
	color: red;
}

#side-panel{
	height: 2rem;
	padding: 1rem 1rem;
	border-radius: 0 2rem 2rem 0;
	background-color: #fff;
}

#exercise-done{
	position: absolute;
	text-align: center;
	padding: 2rem 1rem 1rem 1rem;
	background: #fff;
	height : 20rem;
	width: 21rem;
	border-radius: 2px;
	box-shadow: 1px 1px 8px #555;
	display: none;
}

#exercise-done > img{
	height: 128px;
	width: auto;
}

.score-text{
	padding: 0.8rem 0;
}

.redo-btn{
	height: 3rem;
	width: 3rem;
	background: #000;
	border-radius: 50%;
	border: none;
	position: relative;
}

.redo{
	margin: auto;
	height: 2.5rem;
	width: 2.5rem;
	padding: 0.1rem;
}

.redo::after, .redo::before{
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 0;
	content: "";
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.redo::after{
	top: 1rem;
	left: 0.5rem;
	position: absolute;
	height: 0;
	width: 0;
	border: 0.5rem solid;
	border-color: transparent transparent transparent white;
	transform: translate(1rem, -0.6rem);
}

.redo::before{
	top: 0.7rem;
	left: 0.6rem;
	border: 0.3rem solid;
	border-color: transparent white white white;
	border-radius: 50%;
	height: 1.8rem;
	width: 1.8rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
